body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13440 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1052px;
  width:1200px;
  height:100px;
  overflow:hidden;
}
#u13440_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:100px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(70, 76, 91, 1);
  background-image:none;
}
#u13440_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13441_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:42px;
}
#u13441 {
  border-width:0px;
  position:absolute;
  left:848px;
  top:1082px;
  width:139px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u13442 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  word-wrap:break-word;
}
#u13443_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:44px;
}
#u13443 {
  border-width:0px;
  position:absolute;
  left:1040px;
  top:1081px;
  width:129px;
  height:44px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u13444 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u13445_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:44px;
}
#u13445 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:1080px;
  width:225px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
  line-height:20px;
}
#u13446 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:221px;
  word-wrap:break-word;
}
#u13448_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u13448 {
  border-width:0px;
  position:absolute;
  left:796px;
  top:1085px;
  width:35px;
  height:35px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u13449 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u13450_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u13450 {
  border-width:0px;
  position:absolute;
  left:994px;
  top:1085px;
  width:35px;
  height:35px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u13451 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u13452_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:61px;
}
#u13452 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:1067px;
  width:57px;
  height:61px;
}
#u13453 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13454_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#FFFFFF;
}
#u13454 {
  border-width:0px;
  position:absolute;
  left:970px;
  top:31px;
  width:200px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#FFFFFF;
}
#u13454_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#FFFFFF;
}
#u13454.mouseOver {
  opacity:0.8;
}
#u13455 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u13456_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:855px;
}
#u13456 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:141px;
  width:1000px;
  height:855px;
}
#u13457 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:420px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13459 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:100px;
  overflow:hidden;
}
#u13459_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:100px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(26, 188, 156, 1);
  background-image:none;
}
#u13459_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13460_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:100px;
}
#u13460 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:0px;
  width:424px;
  height:100px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:left;
  line-height:36px;
}
#u13461 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:420px;
  word-wrap:break-word;
}
#u13462 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:99px;
  width:1200px;
  height:2px;
  overflow:hidden;
}
#u13462_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:2px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
}
#u13462_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13463 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u13464_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u13464 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:25px;
  width:50px;
  height:50px;
}
#u13465 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13466_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:110px;
}
#u13466 {
  border-width:0px;
  position:absolute;
  left:746px;
  top:-9px;
  width:424px;
  height:110px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:right;
  line-height:36px;
}
#u13467 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:37px;
  width:420px;
  word-wrap:break-word;
}
