body {
  margin:0px;
  background-color:rgba(249, 249, 249, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1600px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u471 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:150px;
  overflow:hidden;
}
#u471_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:150px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(26, 188, 156, 1);
  background-image:none;
}
#u471_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u472 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:149px;
  width:1600px;
  height:2px;
  overflow:hidden;
}
#u472_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:2px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
}
#u472_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u473 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u474_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:100px;
}
#u474 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:25px;
  width:344px;
  height:100px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
  line-height:36px;
}
#u475 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:340px;
  word-wrap:break-word;
}
#u476_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:75px;
}
#u476 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:39px;
  width:75px;
  height:75px;
}
#u477 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u478 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:970px;
  width:1600px;
  height:150px;
  overflow:hidden;
}
#u478_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:150px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(70, 76, 91, 1);
  background-image:none;
}
#u478_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u479_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:150px;
}
#u479 {
  border-width:0px;
  position:absolute;
  left:1106px;
  top:-6px;
  width:424px;
  height:150px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  text-align:right;
  line-height:36px;
}
#u480 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:57px;
  width:420px;
  word-wrap:break-word;
}
#u481 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u483 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u484_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:101px;
}
#u484 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:184px;
  width:430px;
  height:101px;
}
#u485 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u486_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:663px;
}
#u486 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:285px;
  width:30px;
  height:663px;
}
#u487 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:324px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u488_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:663px;
}
#u488 {
  border-width:0px;
  position:absolute;
  left:479px;
  top:285px;
  width:26px;
  height:663px;
}
#u489 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:324px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u490_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:102px;
}
#u490 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:948px;
  width:430px;
  height:102px;
}
#u491 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:43px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u492 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:175px;
  width:440px;
  height:780px;
}
#u492_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:780px;
  overflow:hidden;
}
#u493 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u495 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u496_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:101px;
}
#u496 {
  border-width:0px;
  position:absolute;
  left:587px;
  top:184px;
  width:430px;
  height:101px;
}
#u497 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u498_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:663px;
}
#u498 {
  border-width:0px;
  position:absolute;
  left:587px;
  top:285px;
  width:30px;
  height:663px;
}
#u499 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:324px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u500_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:663px;
}
#u500 {
  border-width:0px;
  position:absolute;
  left:991px;
  top:285px;
  width:26px;
  height:663px;
}
#u501 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:324px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u502_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:102px;
}
#u502 {
  border-width:0px;
  position:absolute;
  left:587px;
  top:948px;
  width:430px;
  height:102px;
}
#u503 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:43px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u504 {
  border-width:0px;
  position:absolute;
  left:582px;
  top:175px;
  width:440px;
  height:780px;
}
#u504_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:780px;
  overflow:hidden;
}
#u505 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u507 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u508_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:101px;
}
#u508 {
  border-width:0px;
  position:absolute;
  left:1095px;
  top:184px;
  width:430px;
  height:101px;
}
#u509 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u510_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:663px;
}
#u510 {
  border-width:0px;
  position:absolute;
  left:1095px;
  top:285px;
  width:30px;
  height:663px;
}
#u511 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:324px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u512_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:663px;
}
#u512 {
  border-width:0px;
  position:absolute;
  left:1499px;
  top:285px;
  width:26px;
  height:663px;
}
#u513 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:324px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u514_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:102px;
}
#u514 {
  border-width:0px;
  position:absolute;
  left:1095px;
  top:948px;
  width:430px;
  height:102px;
}
#u515 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:43px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u516 {
  border-width:0px;
  position:absolute;
  left:1090px;
  top:175px;
  width:440px;
  height:780px;
}
#u516_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:780px;
  overflow:hidden;
}
